APP_NAME="RAG-APP"
APP_VERSION="0.1.0"

FILE_ALLOWED_TYPES = ["text/plain","application/pdf","application/vnd.openxmlformats-officedocument.wordprocessingml.document"]
FILE_MAX_SIZE_MB=10
FILE_DEFAULT_CHUNK_SIZE=500
MONGO_URI="mongodb://admin:admin@localhost:27007"
MONGODB_DATABASE="mini-rag"

# Groq Configuration
GROQ_API_KEY=""
GROQ_MODEL_ID="llama3-8b-8192"
GROQ_MAX_INPUT_TOKENS=1000
GROQ_MAX_OUTPUT_TOKENS=1000
GROQ_TEMPERATURE=0.7

# Cohere Configuration
COHERE_API_KEY=""
COHERE_GENERATION_MODEL_ID="command-r-plus"
COHERE_EMBEDDING_MODEL_ID="embed-multilingual-v3.0"
COHERE_EMBEDDING_SIZE=1024
COHERE_MAX_INPUT_TOKENS=1000
COHERE_MAX_OUTPUT_TOKENS=1000
COHERE_TEMPERATURE=0.7
